@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&family=Roboto:wght@400;500;700&display=swap');
@import "tailwindcss";
@import 'vue3-carousel/dist/carousel.css';


:root {
  --font-display: 'Orbitron', sans-serif;
  --font-sans: 'Roboto', sans-serif;
}

/* Clases para usar con Tailwind */
.font-display {
  font-family: var(--font-display);
}

.font-sans {
  font-family: var(--font-sans);
}